* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, serif;
}

img {
	display: block;
	width: 100%;
}

.page-wrapper {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

.l-side {
	padding-top: 25px;
	width: 300px;
	background-color: #3a5e90;
	color: white;
}

.photo {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.personal-info-block {
	padding-left: 20px;
	padding-top: 30px;
}

.personal-info-block__title {
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
	font-size: 20px;
}

.personal-info-block__countent {
	padding-top: 15px;
}

.content-item:not(:last-child) {
	padding-bottom: 10px;
}

.content-item span {
	display: block;
}

.content-item span:first-child, .f-bold {
	font-weight: bold;
}
 
.d-flex {
	display: flex;
}

.content-item.d-flex {
	justify-content: space-between;
	padding-right: 20px;
}

.r-side {
	width: calc(100% - 300px);
	background-color: #D3D3D3;
}

.personal-info-block-data {
	padding-left: 20px;
	padding-top: 30px;
	padding-right: 20px;
}

.personal-info-block__title-data {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #000;
	font-size: 20px;
}

.content-item-data span {
	display: block;
	padding-top: 10px;
}

.content-item-data span:first-child, .f-bold {
	font-weight: bold;
}

.personal-info-block__countent-data {
	padding-top: 15px;
}

.content-item-data:not(:last-child) {
	padding-bottom: 5px;
}

.content-item.d-flex {
	justify-content: space-between;
	padding-right: 20px;
}

.content-item-data span:nth-child(2) {
	font-style: italic;
}

.personal-info-block__title-data.f-bold.name {
	font-size: 30px;
}

.r-flex {
	display: flex;
}

.data.r-flex {
	justify-content: space-between;
	padding-right: 20px;
}

